/* Animations */
@mixin slide-background-rainbow {
  background-image: linear-gradient(to right, #E7484F, #F68B1D, #FCED00, #009E4F, #00AAC3, #732982);
  animation: slidebg 5s linear infinite;

  @keyframes slidebg {
    to {
      background-position: 20vw;
    }
  }
}

@mixin wrappers-twist {
  @keyframes wrapper-twist-left {
    0%, 100% {
      transform: translateY(-50%) rotate(35deg);
    }
    50% {
      transform: translateY(-50%) rotate(50deg);
    }
  }

  @keyframes wrapper-twist-right {
    0%, 100% {
      transform: translateY(-50%) rotate(-35deg);
    }
    50% {
      transform: translateY(-60%) rotate(-40deg);
    }
  }
}

@mixin wrappers {
  // Candy wrapper ends
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: inherit; // Match the button's gradient background
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%); // Create triangle shape
  }

  //Left wrapper
  &::before {
    visibility: hidden;
    left: -23px;
    transform: translateY(-50%) rotate(43deg);
  }

  // Right wrapper
  &::after {
    visibility: hidden;
    right: -16px;
    top: 13px;
    transform: translateY(-50%) rotate(-25deg);
  }

  @include wrappers-twist;

  &:hover::before {
    visibility: visible;
    animation: wrapper-twist-left 0.5s ease-in-out forwards;
  }

  &:hover::after {
    visibility: visible;
    animation: wrapper-twist-right 0.5s ease-in-out forwards;
  }
}

/* Button styles */
@mixin base-button {
  display: inline-block;
  padding: 0.20rem 0.5rem;
  margin: 0.5rem;
  color: var(--light);
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: rotate(-25deg);
  position: relative;
  background-color: transparent;

  &:hover {
    @include slide-background-rainbow;
    transform: rotate(-15deg) scale(1.1);

    app-icon {
      background-color: var(--background) !important;
    }
  }
}

@mixin candy-primary {
  @include base-button;
  @include wrappers;
  background: linear-gradient(20deg,
    var(--primary), var(--danger), var(--light), var(--primary), var(--light), var(--danger), var(--primary));
}

@mixin candy-secondary {
  @include base-button;
  @include wrappers;
  background: linear-gradient(20deg,
    var(--secondary), var(--warning), var(--light), var(--secondary), var(--light), var(--warning), var(--secondary));
}

@mixin candy-tertiary {
  @include base-button;
  @include wrappers;
  background: linear-gradient(20deg,
    var(--tertiary), var(--info), var(--light), var(--tertiary), var(--light), var(--info), var(--tertiary));
}

/* Apply theme style */
[theme="candy"] {
  .btn {
    @include base-button;
  }

  .primary .btn {
    @include candy-primary;
  }

  .secondary .btn {
    @include candy-secondary;
  }

  .tertiary .btn {
    @include candy-tertiary;
  }
}
