/* Button styles */
$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$light: var(--light);

@mixin base-button {
  color: $light;
  margin: 0.30rem;
  padding: 0.40em 2em;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.8s ease;

  app-icon {
    background-color: $light !important;
  }
}

@mixin candy-primary {
  @include base-button;

  background-color: $primary;
  border: $primary 2px solid;

  &:hover {
    padding: 1em 1.5em;
    letter-spacing: 2.5px;
    box-shadow: 0 0 0 2px $light,
    0 0 0 3px $primary,
    0 0 0 2px $light inset,
    0 0 0 5px $primary,
    7.5px 7.5px 0 2.5px $light,
    10px 10px 0 5px $primary;

    app-icon {
      background-color: $light !important;
    }
  }
}

@mixin candy-secondary {
  @include base-button;

  background-color: $secondary;
  border: $secondary 2px solid;

  &:hover {
    box-shadow: 0 0 0 5px $light inset,
    0 0 0 7.5px $secondary inset,
    0 0 0 10px $light inset,
    0 0 0 1px $secondary,
    0 0 0 3px $light,
    0 0 0 5px $secondary;

    color: $secondary;
    border-radius: 10px;

    app-icon {
      background-color: $light !important;
    }
  }
}

@mixin candy-tertiary {
  @include base-button;

  background-color: $tertiary;
  border: $tertiary 2px solid;

  &:hover {
    box-shadow: 0 0 0 1px white,
    0 0 0 2px $tertiary,
    0 0 0 5px $tertiary,
    0 0 0 6.5px white,
    0 0 0 7px $tertiary;
    border-radius: 100px;
    background-color: $light;

    app-icon {
      background-color: $tertiary !important;
    }
  }
}

/* Apply theme style */
[theme="candy"] {
  .btn {
    @include base-button;
  }

  .primary .btn {
    @include candy-primary;
  }

  .secondary .btn {
    @include candy-secondary;
  }

  .tertiary .btn {
    @include candy-tertiary;
  }
}
