@mixin candy-menu {
  .menu {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
    opacity: 1;

    &__text {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      transform: rotate(-25deg);

      &.show {
        opacity: 0;
        visibility: hidden;
      }

      &.hide {
        opacity: 1;
        visibility: visible;
      }
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__wrap {
      position: relative;
      margin-left: 1.25rem;
    }

    &__btn {
      position: relative;
      z-index: 5;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      font-size: 10px;
      cursor: pointer;
    }

    &__nav {
      position: absolute;
      display: flex;
      flex-flow: column;
      top: -2rem;
      left: -2rem;

      visibility: hidden;
      opacity: 0;
      width: 0;
      height: 0;
      padding: 0;
      box-shadow: none;

      transition-property: width, height, background-color, border-radius, box-shadow, opacity, visibility, transform;
      transition-duration: 0.7s;
      transition-timing-function: ease;

      max-width: 90vw;
      background-color: var(--primary);
      border-radius: 20px;
      overflow: hidden;

      &.show {
        opacity: 1;
        visibility: visible;
        width: 200px;
        height: 33rem;
        padding: 1rem;
        border-radius: 30px;
        background-color: var(--light);
        box-shadow: 0 0 30px rgba(255, 182, 193, 0.5);
      }

      &.hide {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        box-shadow: none;
      }
    }

    &__content {
      display: flex;
      flex-flow: column;
      height: 100%;
      padding: 9rem 14% 4rem;
      overflow: hidden;
      border-radius: 30px;
      background-color: var(--light);
      box-shadow: inset 0 0 30px rgba(255, 182, 193, 0.5);
    }
  }
}

/* Apply theme style */
[theme="candy"] {
  @include candy-menu;
}
