<div class="menu">
  <div class="menu__inner">
    <span class="menu__text" [ngClass]="isOpenClasse">MENU</span>
    <div class="menu__wrap">

      <app-button class="menu__btn" [ngClass]="isOpenClasse" (click)="toggleMenu()">
        <app-icon [path]="isOpenIcon" size="large"/>
      </app-button>

      <div class="menu__nav" [ngClass]="isOpenClasse">
        <nav class="menu__content">
          <a [routerLink]="appRoutes.HOME" routerLinkActive="active" ariaCurrentWhenActive="page">
            {{ appRoutes.HOME }}
          </a>
          <a [routerLink]="appRoutes.SKILLS" routerLinkActive="active" ariaCurrentWhenActive="page">
            {{ appRoutes.SKILLS }}
          </a>
          <a [routerLink]="appRoutes.ABOUT_ME" routerLinkActive="active" ariaCurrentWhenActive="page">
            {{ appRoutes.ABOUT_ME }}
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
