.container {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 200px auto;
  grid-template-areas:
  "menu toolbar"
  "menu content";
  height: 100vh;
  margin: 0;
  background-color: var(--background);

  .toolbar {
    grid-area: toolbar;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
  }

  .menu {
    grid-area: menu;
  }

  .content {
    grid-area: content;
    overflow-y: auto;
  }
}
