.container {
  display: grid;
  grid-template-rows: 4rem 1fr;
  min-height: 100vh;
  background-color: var(--background);

  .toolbar {
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .content {

  }
}
