<div appTheme class="container">
  <div class="sidebar">
    <nav>
      <a class="" [routerLink]="appRoutes.HOME" routerLinkActive="active" ariaCurrentWhenActive="page">
        {{ appRoutes.HOME }}
      </a>
      <a class="" [routerLink]="appRoutes.SKILLS" routerLinkActive="active" ariaCurrentWhenActive="page">
        {{ appRoutes.SKILLS }}
      </a>
      <a class="" [routerLink]="appRoutes.ABOUT_ME" routerLinkActive="active" ariaCurrentWhenActive="page">
        {{ appRoutes.ABOUT_ME }}
      </a>
    </nav>
  </div>

  <div class="toolbar">
    <app-button (click)="light()" type="primary" text="Light theme"/>
    <app-button (click)="dark()" type="secondary" text="Dark theme"/>
    <app-button (click)="candy()" type="tertiary" text="Candy theme"/>
    <app-icon icon="candy-mode"></app-icon>
  </div>

  <div class="content">
    <h1>Themed Single Landing Page</h1>

    <router-outlet/>
  </div>
</div>
