<div appTheme class="container">
<!--  <app-menu/>-->

  <div class="toolbar">
    <app-button (click)="light()" primary>
      <app-icon path="light-mode" size="small"/>
    </app-button>
    <app-button (click)="dark()" secondary>
      <app-icon path="dark-mode" size="small"/>
    </app-button>
    <app-button (click)="candy()" tertiary>
      <app-icon path="candy-mode" size="small"/>
    </app-button>
    <app-button (click)="toggleFlipAllPanel()">
      <app-icon path="close" size="small"/>
    </app-button>
  </div>

  <app-panel [flipAll]="flipAll"/>

<!--  <div class="content">-->
<!--    <h1>Themed Single Landing Page</h1>-->

<!--    <router-outlet/>-->
<!--  </div>-->
</div>
