@import "./styles/index.scss";

html,
body {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease; // maybe no need

  font-family: var(--font-family), monospace;
  letter-spacing: 0.2em;
}
