@import "./styles/index.scss";

html,
body {
  margin: 0;
  color: var(--text);
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--background);
}

li {
  list-style: none
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
}

html[data-hidden=true] {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}
