<div class="layout">
  <div class="container">
    <div class="layout__inner">
      <main>
        <div class="container">
          <div class="flip">
            <div class="flip__wrapper">
              <div class="flip__inner">
                <div class="flip__wrap">
                  @for (panel of panels; let i = $index; track panel.id; ) {
                    <div class="flip__image"
                      (mouseenter)="onMouseEnter(panel.id)"
                      (mouseleave)="onMouseLeave(panel.id)"
                    >
                      <div class="flip__panel"
                        [attr.data-panel]="panel.id"
                        [attr.data-turn]="panel.turned"
                        [attr.data-hover]="panel.hovered"
                        (click)="togglePanel(panel.id)"
                      >
                        <div class="flip__panel-item"
                          data-panel-item="front"
                          [ngStyle]="getFrontPanelStyles(i)">
                        </div>
                        @if (panel.visible) {
                          <div class="flip__panel-item"
                            data-panel-item="back"
                          >
                          </div>
                        }
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
